.calistoga {
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.normal-text {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: large;
}

.booking-form-div {
    background-color: bisque;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 10px;
    width: 60%;
    
}

.show-reservation-div {
    background-color: bisque;
    border-radius: 10px;
    width: 80%;
}

body {
    /* background-image: url("/assets/cat copy.jpg"); */
    background-repeat: no-repeat;
    background-size: auto;
    /* background-position-x: center;  */
    /* background-position-y: bottom */

}