.calistoga {
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
    color:  #F4DEC9;
  }

  .h2 {
    font-family: "Calistoga", serif;
    font-weight: 100;
    font-style: normal;
    color:  #7059EA;
  }
  
.normal-text {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: large;
  color: black
}

.purple-div-bg {
  background-color: #7059EA;
  border-radius: 50px;
  width: 100%;
}

.purple-button {
  background-color: #7059EA;
  border-radius: 10px;
  color: white;
  width: 50%;
  border: none;

}

.beige-div-bg {
  background-color: #F4DEC9;
  padding-top: 25px;
}

.booking-form-div {
    background-color: #FEBB63;
    border-radius: 50px;
    padding: 10px;
    width: 90%;
    
}

.show-reservation-div {
    background-color:  #FEBB63;
    border-radius: 50px;
    margin-bottom: 25px;
    margin-top: 25px;
    width: 100%;
    padding-bottom: 50px;
}

body {
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #F4DEC9 ;
}

.img {
  border-radius: 60px;
  padding: 30px;
}

.btn {
  background-color: #FE754B;
  color: white;
}

.orange-div {
  background-color:  #FEBB63;
}